// Cores
:root {
  --cor-conteudo-texto: #000;
  --cor-conteudo-fundo: #fff;
  --cor-estrutural-texto: #fff;
  --cor-estrutural-fundo: #000;
}

// Espaçamento
:root {
  --espaco-pq: 0.5rem;
  --espaco: 1rem;
  --espaco-md: 2rem;
  --espaco-gd: 6rem;
}

// Tipografia
:root {
  --fonte-base: 'Apfel Grotezk';
  --fonte-enfase: 'Mazius';
}



