@use '../abstracts/mixins';

.site-header {
  background-color: var(--cor-estrutural-fundo);
  color: var(--cor-estrutural-texto);
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  min-height: 60px;

  .widget-area {
    display: none;

    .widget {
      overflow-x: hidden;
    }
  }

  @include mixins.responsivo(pequena) {
    .widget-area {
      display: flex;
    }
    .site-header {
      flex-direction: row;
    }
  }
}

@include mixins.responsivo(pequena) {
  .site-header {
    flex-direction: row;
  }
}

.main-navigation {
  padding: var(--espaco-pq);
  align-items: center;
}

.site-branding {
  display: flex;
  align-items: flex-end;
  padding: var(--espaco-pq);
}

.marca {
  width: 60px;
  fill: var(--cor-estrutural-texto);
}

#widget-header-1 {
  padding: var(--espaco-pq) 0;
  align-items: center;
  overflow-x: hidden;
  flex-shrink: 1;
}

#widget-header-2 {
  padding: var(--espaco-pq);
  align-items: center;
  flex-shrink: 0;
  flex-grow: 1;
}

