@use '../abstracts/mixins';

.main-navigation {
	display: block;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

    li {
      margin-right: var(--espaco);
    }

    li:last-child {
      margin-right: 0;
    }

  }

	a {
		display: block;
		text-decoration: none;
	}

  a:hover {
    text-decoration: underline;
  }
}

/* Menu resumido. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}


@include mixins.responsivo(pequena) {
  .menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}