@use '../abstracts/mixins';

.main-navigation {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	min-width: 50%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

    li {
      margin-right: var(--espaco);
    }

    li:last-child {
      margin-right: 0;
    }

  }

	a {
		display: block;
		text-decoration: none;
	}

  a:hover {
    text-decoration: underline;
  }
}

/* Menu resumido. */

.menu-toggle {
	border: none;
	background-color: var(--cor-estrutural-fundo);
	text-transform: lowercase;
	text-decoration: underline;
	color: var(--cor-estrutural-texto);
	font-family: var(--fonte-enfase);
	font-style: italic;
	padding: 0;
	cursor: pointer;
}

.menu-toggle {
	display: inline;
}

.main-navigation.toggled {
	text-align: center;
	padding-bottom: 0.62rem;

	li {
		margin-right: 0;
	}

	ul {
		display: block;
	}
}




@include mixins.responsivo(pequena) {
  .menu-toggle {
		display: none;
	}

	.main-navigation {
		min-width: auto;
	}

	.main-navigation ul {
		display: flex;
	}
}