/* Carregando as fontes */

@font-face {
  font-family: 'Apfel Grotezk';
  src: url("fonts/ApfelGrotezk-Regular.woff2") format("woff2"),
       url("fonts/ApfelGrotezk-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Mazius';
  src: url("fonts/Mazius-Regular.woff2") format("woff2"),
       url("fonts/Mazius-Regular.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'Mazius';
  src: url("fonts/Mazius-Italic.woff2") format("woff2"),
       url("fonts/Mazius-Italic.woff") format("woff");
  font-style: italic;
}
