/* Carregando as fontes */

@font-face {
  font-family: 'Apfel Grotezk';
  src: url("fonts/ApfelGrotezk-Regular.woff2") format("woff2"),
       url("fonts/ApfelGrotezk-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Sneaky Times';
  src: url("fonts/Sneaky-Times.woff2") format("woff2"),
       url("fonts/Sneaky-Times.woff") format("woff");
}

body {
  font-family: 'Apfel Grotezk', sans-serif;
}
